<html>
  <head>
    <link rel="icon" href=" /img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <title>About</title>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Lawal Azeez. It uses data from mapbox.com and openweathermap.org!</p>
      <img class= 'portrait' src="/img/me2.jpg" />
    </div>
    {{>footer}}
  </body>
</html>